<div class="text-center "><img src="assets/71-714421_blank-profile-logo-removebg-preview.png"  width="150" height="100" ></div>

<h3 class="text-center ">Profile Info</h3>
<div class="container card text-center">

    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="text-left">
                <ul>
                    <li><label><b>User-id: </b></label>{{user.id}} </li>
    <li><label><b>Name: </b></label>{{user.name}} </li>
    <li> <label><b>Email: </b></label>{{user.email}}</li>
    <li><label><b>Username: </b></label>{{user.username}} </li>
    <li><label><b>Authority: </b></label>{{Authority}} </li>
    
    </ul>
    </div>
    </div>

    </div>
    </div>
    

   
    
    </div>