<br>

<div class="container card text-center">
<h3>Candidate details</h3>



<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="text-left">
            <ul>
<li><label><b>Associate-Id: </b></label> {{candidate.associateId}}</li>

<li><label><b>Name: </b></label> {{candidate.name}}</li>
<li> <label><b>Email: </b></label> {{candidate.emailid}}</li>
<li><label><b>Mobile: </b></label> {{candidate.mobile}}</li>
</ul>

</div>

</div>
<div class="col-sm">
<img src="https://static.vecteezy.com/system/resources/thumbnails/005/911/365/small_2x/employee-profile-icon-candidate-resume-template-free-vector.jpg" width="200ps" height="200px">
</div>
</div>
</div>